.roota {
  display: flex;
  flex-direction: column;

  .content {
    max-width: 850px;
  }

  .buttons-container {
    display: flex;
    justify-content: center;
    a {
      text-decoration: none;
    }
  }
}
