.root {
  display: flex;
  flex-direction: column;
  .bandeau {
    position: relative;
    img {
      display: flex;
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
    }
    .title {
      position: absolute;
      display: flex;
      font-size: 7rem;
      font-weight: bold;
      justify-content: flex-end;
      text-align: end;
      margin: 0 80px 80px 0;
      color: white;
      width: 100%;
    }
  }
  .cards-container {
    position: relative;
    margin-top: 400px;
    display: flex;
    justify-content: space-around;
    a {
      text-decoration: none;
    }
  }
}
